h1
    font-family: 'Josefin Slab', serif
    font-size: 6vw
    font-weight: bold
.jumbo
    margin-top: 24vw
video#bgvid
    a = 50%
    b = 100%
    c = auto
    position: fixed;
    top: a
    left: a
    min-width: b
    min-height: b
    width: c
    height: c
    z-index: -100
    -ms-transform: translateX(-50%) translateY(-50%)
    -moz-transform: translateX(-50%) translateY(-50%)
    -webkit-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)
    background: url("../res/bg.jpg") no-repeat
    background-size: cover
a
    color:black
a:hover
    color:black
#first
    height: 100%
button
    border: 0
    font-family: 'Open Sans', sans-serif
    margin-left: 4.5vw
    background: rgba(255,255,255,0.8)
    padding: 1vw